<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BackupSQLDB.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <BackupSQLDB.My.MySettings>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dbSrc" serializeAs="String">
                <value>WS2016STD\SQL2017,58194</value>
            </setting>
            <setting name="dbUsr" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="dbPwd" serializeAs="String">
                <value></value>
            </setting>
            <setting name="buLocation" serializeAs="String">
                <value />
            </setting>
        </BackupSQLDB.My.MySettings>
    </userSettings>
</configuration>
